<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        {% block head %}
            <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/style.css"/>
            <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/utilities_home.css"/>
            <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/style_home.css"/>
        {% endblock %}
    </head>
    <body>
        <header>
            <!-- Navbar -->
            {% block header %}
                {% if not logged %}
                    <div class="navbar">
                        <div class="container flex" style="background: #35435c;">
                            <h1 class="logo">LSteam</h1>
                            <div></div>
                            <nav class="navHeader">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/store">Store</a></li>
                                    <li><a href="/register">Register</a></li>
                                    <li><a href="/login">Login</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                {% endif %}
                {% if logged %}
                    <div class="navbar">
                        <div class="container flex" style="background: #35435c;">
                            <h1 class="logo">LSteam</h1>
                            <div class="divUsernameWallet">
                                <a href="/profile" class="aAvatar"><img class="avatar" src="{{ full_url_for('home') }}uploads/{{ avatar }}" alt="profile image"/></a>
                                <ul class="ulUsername">
                                    <li id="liUsername"><p id="pUsername">{{ username }}</p>
                                        <ul>
                                            <li><a href="/profile">Profile</a></li>
                                            <li><a href="/user/wallet">Wallet</a></li>
                                            <li><a href="/user/myGames">My games</a></li>
                                            <li><a href="/user/wishlist">Wishlist</a></li>
                                            <li><a href="/user/friends">Friends</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <p id="pWallet">{{ wallet }} €</p>
                            </div>
                            <nav class="navHeader">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/store">Store</a></li>
                                    <li><a href="/register">Register</a></li>
                                    <li>
                                        <form action="/logout" method="POST" accept-charset="utf-8">
                                            <button type="submit">Logout</button>
                                        </form>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        </header>
        {% block content %}{% endblock %}
        <footer>
            {% block footer %}
                <!-- Footer -->
                <div class="footer bg-dark py-5">
                    <div class="container grid grid-3">
                        <div>
                            <h1>LSteam</h1>
                            <p>Copyright &copy; 2021</p>
                        </div>
                        <nav>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/register">Register</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            {% endblock %}
        </footer>

        {% block scripts %}
            <script
                    src="https://code.jquery.com/jquery-3.4.0.min.js"
                    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
                    crossorigin="anonymous"></script>
        {% endblock %}

    </body>
</html>